{% extends 'base.html' %}

{% block content %}
<h1>Upload Zipped JSON Files</h1>
    <p>This may take several minutes, do not refresh the page.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="documents" multiple class="form-control-file">
        <button onclick="display()" type="submit">Upload JSON</button>
    </form>
<br><br><br><br>
    <!--
    <form action='delete' method='GET'>
        <button type="submit">Delete Previously Uploaded Files</button>
    </form>
    -->

    <img id='loading' src="/media/loading.webp" alt="loading" style="display: none">

    <script>
        function display(){
            document.getElementById('loading').style.display='block';
        }
    </script>


{% endblock %}
